/* Extra Small (phones) */
@media (max-width: 576px) {
    :root {
        --font-size: var(--font-size-small);
    }

    .selection-wrapper,
    #type-query {
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    .checkbox-wrapper {
        font-size: var(--font-size-extra-small);
        gap: 2px;
    }

    /* Adjust textarea rows for extra small screens */
    #message {
        min-height: 230px; /* Adjust height (corresponds to ~6 rows) */
        padding: 10px; /* Ensure proper spacing for usability */
    }

    input[type="checkbox"] {
        width: 0.8rem !important;
        height: 0.8rem !important;
    }
}

/* Small (phones to tablets) */
@media (min-width: 577px) and (max-width: 768px) {
    :root {
        --font-size: var(--font-size-default);
    }

    .selection-wrapper,
    #type-query {
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    /* Adjust textarea rows for small screens */
    #message {
        min-height: 180px; /* Adjust height (corresponds to ~5 rows) */
        padding: 10px; /* Ensure proper spacing */
    }

    input[type="checkbox"] {
        width: 0.8rem !important;
        height: 0.8rem !important;
    }
}

/* Medium (tablets to small laptops) */
@media (min-width: 769px) and (max-width: 992px) {
    :root {
        --font-size: var(--font-size-large);
    }
}

/* Large (small laptops to desktops) */
@media (min-width: 993px) and (max-width: 1200px) {
    :root {
        --font-size: var(--font-size-extra-large);
    }
}

/* Extra Large (large desktops) */
@media (min-width: 1201px) {
    :root {
        --font-size: var(--font-size-extra-extra-large);
    }
}
