/* Normal State */
.field-wrapper {
  border: 1px solid var(--grey-medium);
  transition: border-color 0.3s ease;
}

/* Invalid State */
.field-wrapper.invalid,
#type-query.invalid {
  border-color: var(--red);
}

/* Valid State */
.field-wrapper.valid {
  border-color: var(--green-medium);
}

/* Error Message */
.error-message {
  color: var(--red);
  font-size: 0.7em;
  margin-top: 0.2em;
  display: none; /* Hide error messages by default */
}

.error-message.active {
  display: block; /* Show error message when active */
}
