:root {
    /* Primary Colors */
    --green-light: hsl(148, 38%, 91%);
    --green-medium: hsl(169, 82%, 27%);
    --red: hsl(0, 66%, 54%);

    /* Neutral Colors */
    --white: hsl(0, 0%, 100%);
    --grey-medium: hsl(187, 15%, 79%);
    --grey-dark: hsl(187, 24%, 22%);

    /* Font */
    --font-family: "Karla", sans-serif;
    --font-size: 16px;
}
