:root {
    /* Primary Colors */
    --green-light: hsl(148, 38%, 91%);
    --green-medium: hsl(169, 82%, 27%);
    --green-dark: hsl(169, 76%, 17%);
    --red: hsl(0, 66%, 54%);

    /* Neutral Colors */
    --white: hsl(0, 0%, 100%);
    --grey-light: hsl(187, 15%, 95%);
    --grey-medium: hsl(187, 15%, 79%);
    --grey-dark: hsl(187, 24%, 22%);
    --black: hsl(0, 0%, 0%);

    /* Font */
    --font-family: "Karla", "Arial", sans-serif;
    --font-size: var(--font-size-default);
    --font-size-default: 16px;
    --font-size-extra-small: 12px;
    --font-size-small: 14px;
    --font-size-large: 18px;
    --font-size-extra-large: 20px;
    --font-size-extra-extra-large: 22px;

    /* Spacing Variables */
    --spacing-extra-small: 0.25rem; /* 4px */
    --spacing-small: 0.5rem; /* 8px */
    --spacing-medium: 1rem; /* 16px */
    --spacing-large: 1.5rem; /* 24px */
    --spacing-extra-large: 2rem; /* 32px */

    /* Line Heights */
    --line-height-default: 1.5;
    --line-height-small: 1.3;
    --line-height-large: 1.8;
}
