@use "_variables";
@use "_form";
@use "_button";
@use "_responsiveness";
@use "_validation";
@use "_checkbox";
@use "_confirmation-message";
@use "normalize";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 1.5em;
    font-family: var(--font-family);
    font-size: var(--font-size);
    background-color: var(--white);
    color: var(--gray-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    margin: 0 auto;
    padding: 1.5rem;
    background-color: var(--green-light);
    border-radius: 12px;
    box-shadow: 1px 15px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    max-width: 100%; /* Prevent it from exceeding the viewport width */
    width: calc(100% - 2rem);
}

form > h1 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    color: var(--gray-dark);
}

label,
legend {
    font-size: 1rem;
    font-weight: 400;
    color: var(--grey-dark);
}

form > div:first-of-type {
    display: flex;
    gap: 1rem;
}

form > div:first-of-type > div {
    flex: 1;
}

textarea {
    resize: none;
    height: 100%;
}

fieldset {
    display: flex;
    justify-content: space-between;
    border: none;
    padding: 0;
}

fieldset label {
    display: flex;
    align-items: center;
    gap: var(--spacing-extra-small);
}

input[type="checkbox"] {
    margin-right: 0.5rem;
}
